/* header img {
  height: 80px;
  margin-left: 40px;
} */

.jumbotron {
  background-size: cover;
  background-position: center;
}
#navLogo {
  height: 18vh;
  margin-left: 5vw;
  margin-bottom: 13vh;
}
#navList {
  display: flex;
}
#navList li {
  display: inline-block;
  margin: 20px;
}

#navList a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navBg {
  background-color: rgb(20, 20, 20);
}

.loginBtn {
  position: absolute;
  right: 1vw;
  top: 6vh;
}
