/* header img {
  height: 80px;
  margin-left: 40px;
} */

.jumbotron {
  background-size: cover;
  background-position: center;
}

#navLogo {
  height: 18vh;
  margin-left: 5vw;
  margin-bottom: 21vh;
}
#navList {
  font-weight: 700;
  font-size: 1.25rem;
  position: relative;
  left: 3vw;
  top: 4.5vh;
}
#navList li {
  display: inline-block;
  margin: 20px;
}

#navList a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navBg {
  background-color: rgb(20, 20, 20);
}

.loginBtn {
  position: relative;
  left: 92vw;
  bottom: 44vh;
  background-color: Transparent;
  background-repeat: no-repeat;
  color: azure;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
